In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
heart_data=pd.read_csv('heart_attack_prediction_dataset.csv')

In [5]:
heart_data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [6]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [7]:
heart_data.isnull().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [8]:
heart_data.drop(['Income','Country','Continent','Hemisphere'],axis=1,inplace=True)

In [10]:
heart_data.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,Average,0,0,9,6.615001,31.251233,286,0,6,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,Unhealthy,1,0,1,4.963459,27.194973,235,1,7,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,Healthy,1,1,9,9.463426,28.176571,587,4,4,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,Average,1,0,9,7.648981,36.464704,378,3,4,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,Unhealthy,1,0,6,1.514821,21.809144,231,1,5,0

In [11]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  BMI                              8763 non-null   float64
 18  Triglycerides                    8763 non-null   int64
 19  Physical Activity Days Per Week  8763 non-null   int64
 20  Sleep Hours Per Day              8763 non-null   int64
 21  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(15), object(4)
memory usage: 1.5+ MB

In [14]:
heart_data.drop(['Patient ID','Sedentary Hours Per Day','Physical Activity Days Per Week'],axis=1,inplace=True)

In [15]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8763 non-null   int64
 1   Sex                      8763 non-null   object
 2   Cholesterol              8763 non-null   int64
 3   Blood Pressure           8763 non-null   object
 4   Heart Rate               8763 non-null   int64
 5   Diabetes                 8763 non-null   int64
 6   Family History           8763 non-null   int64
 7   Smoking                  8763 non-null   int64
 8   Obesity                  8763 non-null   int64
 9   Alcohol Consumption      8763 non-null   int64
 10  Exercise Hours Per Week  8763 non-null   float64
 11  Diet                     8763 non-null   object
 12  Previous Heart Problems  8763 non-null   int64
 13  Medication Use           8763 non-null   int64
 14  Stress Level             8763 non-null   int64
 15  BMI                      8763 non-null   float64
 16  Triglycerides            8763 non-null   int64
 17  Sleep Hours Per Day      8763 non-null   int64
 18  Heart Attack Risk        8763 non-null   int64
dtypes: float64(2), int64(14), object(3)
memory usage: 1.3+ MB

In [16]:
heart_data.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,BMI,Triglycerides,Sleep Hours Per Day,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,0,4.168189,Average,0,0,9,31.251233,286,6,0
1,21,Male,389,165/93,98,1,1,1,1,1,1.813242,Unhealthy,1,0,1,27.194973,235,7,0
2,21,Female,324,174/99,72,1,0,0,0,0,2.078353,Healthy,1,1,9,28.176571,587,4,0
3,84,Male,383,163/100,73,1,1,1,0,1,9.828130,Average,1,0,9,36.464704,378,4,0
4,66,Male,318,91/88,93,1,1,1,1,0,5.804299,Unhealthy,1,0,6,21.809144,231,5,0

In [17]:
Gender=pd.get_dummies(heart_data['Sex'],drop_first=True)
Gender.head()

   Male
0     1
1     1
2     0
3     1
4     1

In [18]:
diet=pd.get_dummies(heart_data['Diet'],drop_first=True)
diet.head()

   Healthy  Unhealthy
0        0          0
1        0          1
2        1          0
3        0          0
4        0          1

In [19]:
heart_data=pd.concat([heart_data,Gender,diet],axis=1)

In [20]:
heart_data.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Previous Heart Problems,Medication Use,Stress Level,BMI,Triglycerides,Sleep Hours Per Day,Heart Attack Risk,Male,Healthy,Unhealthy
0,67,Male,208,158/88,72,0,0,1,0,0,...,0,0,9,31.251233,286,6,0,1,0,0
1,21,Male,389,165/93,98,1,1,1,1,1,...,1,0,1,27.194973,235,7,0,1,0,1
2,21,Female,324,174/99,72,1,0,0,0,0,...,1,1,9,28.176571,587,4,0,0,1,0
3,84,Male,383,163/100,73,1,1,1,0,1,...,1,0,9,36.464704,378,4,0,1,0,0
4,66,Male,318,91/88,93,1,1,1,1,0,...,1,0,6,21.809144,231,5,0,1,0,1

In [21]:
heart_data.drop(['Sex','Diet'],axis=1,inplace=True)

In [22]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8763 non-null   int64
 1   Cholesterol              8763 non-null   int64
 2   Blood Pressure           8763 non-null   object
 3   Heart Rate               8763 non-null   int64
 4   Diabetes                 8763 non-null   int64
 5   Family History           8763 non-null   int64
 6   Smoking                  8763 non-null   int64
 7   Obesity                  8763 non-null   int64
 8   Alcohol Consumption      8763 non-null   int64
 9   Exercise Hours Per Week  8763 non-null   float64
 10  Previous Heart Problems  8763 non-null   int64
 11  Medication Use           8763 non-null   int64
 12  Stress Level             8763 non-null   int64
 13  BMI                      8763 non-null   float64
 14  Triglycerides            8763 non-null   int64
 15  Sleep Hours Per Day      8763 non-null   int64
 16  Heart Attack Risk        8763 non-null   int64
 17  Male                     8763 non-null   uint8
 18  Healthy                  8763 non-null   uint8
 19  Unhealthy                8763 non-null   uint8
dtypes: float64(2), int64(14), object(1), uint8(3)
memory usage: 1.2+ MB

In [25]:
blood_pressure_split = heart_data['Blood Pressure'].str.split('/', expand=True)
heart_data['Systolic'] = blood_pressure_split[0].astype(int)
heart_data['Diastolic'] = blood_pressure_split[1].astype(int)

In [26]:
heart_data.drop(['Blood Pressure'],axis=1,inplace=True)

In [27]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8763 non-null   int64
 1   Cholesterol              8763 non-null   int64
 2   Heart Rate               8763 non-null   int64
 3   Diabetes                 8763 non-null   int64
 4   Family History           8763 non-null   int64
 5   Smoking                  8763 non-null   int64
 6   Obesity                  8763 non-null   int64
 7   Alcohol Consumption      8763 non-null   int64
 8   Exercise Hours Per Week  8763 non-null   float64
 9   Previous Heart Problems  8763 non-null   int64
 10  Medication Use           8763 non-null   int64
 11  Stress Level             8763 non-null   int64
 12  BMI                      8763 non-null   float64
 13  Triglycerides            8763 non-null   int64
 14  Sleep Hours Per Day      8763 non-null   int64
 15  Heart Attack Risk        8763 non-null   int64
 16  Male                     8763 non-null   uint8
 17  Healthy                  8763 non-null   uint8
 18  Unhealthy                8763 non-null   uint8
 19  Systolic                 8763 non-null   int32
 20  Diastolic                8763 non-null   int32
dtypes: float64(2), int32(2), int64(14), uint8(3)
memory usage: 1.2 MB

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

In [31]:
X = heart_data.drop('Heart Attack Risk', axis=1)
y =heart_data['Heart Attack Risk']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [43]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [44]:
svm_model = SVC(kernel='linear', random_state=42)
svm_model.fit(X_train, y_train)

SVC(kernel='linear', random_state=42)

In [45]:
y_pred = svm_model.predict(X_test)

In [46]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1131    0]
 [ 622    0]]
              precision    recall  f1-score   support

           0       0.65      1.00      0.78      1131
           1       0.00      0.00      0.00       622

    accuracy                           0.65      1753
   macro avg       0.32      0.50      0.39      1753
weighted avg       0.42      0.65      0.51      1753

C:\Users\hp\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\hp\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\hp\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
accuracy=accuracy_score(y_test,y_pred)

In [49]:
print(accuracy)

0.6451796919566457